#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Usa min-height en lugar de height para contenido largo */
}

/* Crea un contenedor flexible para el contenido principal */
main {
    flex: 1; /* Esto hará que el contenido principal ocupe el espacio restante */
    padding: 20px;
}

/* Modifica el footer para que no use posicionamiento */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Empuja el footer hacia abajo */
}
  header {
    text-align: center;
    padding: 5px;
    background-color: #282c34;
    color: white;
  }
  
  /* Mejoras adicionales */
  .node-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .node-header {
    font-weight: bold;
    font-size: 16px;
  }
  
  .node-content {
    margin-top: 10px;
    font-size: 14px;
  }
  
  button {
    cursor: pointer;
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  